.containerLogin{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
    margin: auto;
    
    
}


.containerLogin form{
    width:300px;
    height: 250px;
    margin-top: 5%;
    padding-bottom:50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgb(25, 25, 25);
    border-radius: 5px;

    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:left;
    background-color: rgb(255, 255, 255);
}

label {
   margin-left:5px ;
}

input{
    width :250px;
    height: 30px;
    font-size: 20px;
    margin: 5px;
}

button{
    width:150px ;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    background-color: rgb(238, 150, 19);
    border-color:  rgb(238, 150, 19);
    position: relative;
    margin-top: 5px;
    left:110px;
    border-radius: 5px;

}

button:hover{
    border-color: darkgray;
}

#login-heading {
    color:rgb(25, 25, 25);
}




