
.container{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;  
}

.container h2{
    color:rgb(106, 109, 111);
}


#description{
    height: 100px;
    font-size: medium;
}
